*{

background-color:#f8f9ff;

}

nav {
	text-align: center;
	padding: 10px;
}


@font-face {
   font-family: OldEnglishRegular;
   src: url(old_engl-webfont.woff);
}

h1 {
   font-family: OldEnglishRegular;
   font-size: 300%;
}

form: startMonth, startYear {
	margin: 25px;
	padding: 10px;
}
